**/.project
**/.classpath
**/.settings
**/.idea
**/*.iml
**/target/
**/*.DS_Store
**/logs/
**/nbactions.xml
**/nb-configuration.xml
**/*.log
**/nodes.xml
**/machinefile.txt
**/id_rsa
**/rebel.xml
pom.xml.versionsBackup
Applications/StringsAndPins/firstwork
Applications/StringsAndPins/tempfile.txt
Applications/StringsAndPins/secondwork
*.factorypath
*.class
